[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scikit-learn = "*"
torch = "*"
transformers = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
