[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
jupyterthemes = "*"

[packages]
numpy = "*"
parso = "*"
pytorch-transformers = "*"
scikit-learn = "*"
torch = "*"

[requires]
python_version = "3.6"
